@import "tailwindcss";

@theme {
  --color-background: #FFFFFF;
  --color-primary: #083F7E;
  --color-accent: #E75A20;
  --color-main: #2E363D;
  --color-muted: #877975;
  --color-border: #E8E8E8;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-background);
  color: var(--color-main);
  font-family: var(--font-sans);
}

.grid-pattern {
  background-size: 30px 30px;
  background-image: linear-gradient(to right, rgba(8, 63, 126, 0.03) 1px, transparent 1px),
                    linear-gradient(to bottom, rgba(8, 63, 126, 0.03) 1px, transparent 1px);
}
